body {
 display: flex;
 flex-direction: column; 
}

.navbar {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.navlink {
  flex: 1;
  font-size: larger;
  color: black;
  opacity: .7;
  transition: .3s;
  text-decoration: none;
}

.navlink:hover {
  opacity: 1;
}

.section {
  border: 1px solid black;
  height: 300px;
}