body {
  
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.navlink {
  flex: 1;
  color: black;
  opacity: .7;
  transition: .3s;
  text-decoration: none;
}

.navlink:hover {
  opacity: 1;
}

.section {
  background-color: white;
  height: 300px;
}