body {
 display: flex;
 flex-direction: column; 
}

.navbar {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.navlink {
  flex: 1;
  font-size: larger;
  color: black;
  opacity: .7;
  transition: .3s;
  text-decoration: none;
}

.navlink:hover {
  opacity: 1;
}

/* Large section inside body, column */
.section {
  border: 1px solid black;
  height: 300px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* Smaller part inside section, 2 per section */
.part {
  flex: 1;
}

/* Images as background for part */
#unl-image {
  background-image: url(../images/unl.jpg);
  background-size: cover;
}
#hanyang-image {
  background-image: url(../images/hanyang.jpg);
  background-size: cover;
  background-position: 10%;
}