body {
 display: flex;
 flex-direction: column; 
}

.navbar {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  padding-top: 10px;
  width: 100%;
  text-align: center;
}

.navlink {
  flex: 1;
  font-size: larger;
  color: black;
  opacity: .5;
  transition: .3s;
}

.navlink:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color: black;
}

/* Large section inside body, column */
.section {
  height: 350px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 10px;
}

/* Smaller part inside section, 2 per section */
.part {
  width: 50%;
}

/* Images */
.rounded-img {
  border-radius: 15px;
  opacity: .5;
  transition: 1s;
  margin-top: 25px;
}
.rounded-img:hover {
  opacity: 1;
}

#unl-image {
  max-width: 100%;
  height: auto;
}
#hanyang-image {
  max-width: 100%;
  height: auto;
}